/* ==========================
NAVBAR
========================== */

.navbar{

position:fixed;

top:0;

left:0;

width:100%;

z-index:999;

background:rgba(255,255,255,.82);

backdrop-filter:blur(16px);

border-bottom:1px solid rgba(0,0,0,.08);

}

.navbar-container{

height:80px;

display:flex;

justify-content:space-between;

align-items:center;

}

.logo{

font-size:1.8rem;

font-weight:800;

color:var(--primary);

}

.nav-links{

display:flex;

gap:40px;

list-style:none;

}

.nav-links a{

font-weight:600;

transition:.3s;

color:var(--text);

}

.nav-links a:hover{

color:var(--primary);

}

.nav-right{

display:flex;

align-items:center;

gap:20px;

}

.resume-btn{

padding:12px 26px;

background:var(--primary);

color:white;

border-radius:12px;

font-weight:600;

transition:.3s;

}

.resume-btn:hover{

background:var(--primary-dark);

}

#menu-btn{

display:none;

font-size:1.4rem;

}